@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 10px;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("./adventure.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.content h1 {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
  text-shadow: 0rem 0rem 30rem #000000;
  font-size: 500%;
}
.btn {
  border-radius: 0.9rem;
  font-family: "Oswald", sans-serif;
  color: #036ab1;
  font-size: 135%;
  padding: 1rem 2rem;
  border: solid #036ab1 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #fff;
  border: solid #fff 0.3rem;
}
p {
  font-size: 168%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 0.7rem 1.5rem;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
