@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 10px;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("./adventure.jpg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.content h1 {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
  text-shadow: 0rem 0rem 30rem #000000;
  font-size: 500%;
}
